            <!--- Footer --->
            <footer class="bg-dark text-white text-center text-md-start mt-5 rounded-6" data-aos="fade-up">
                <div class="container p-4">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" data-aos="fade-up">
                            {% load static %}
                            <img src="{% static 'Front/img/Logo mk2.png' %}" class="img-fluid logo" alt="Logo">
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" data-aos="fade-up">
                            <h5 class="text-uppercase text-danger font-weight-bold">Informacje</h5>
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#" class="text-white">WWW</a>
                                </li>
                                <li>
                                    <a href="#" class="text-white">FanPage</a>
                                </li>
                                <li>
                                    <a href="#" class="text-white">Youtube</a>
                                </li>
                                <li>
                                    <a href="#" class="text-white">Instgram</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" data-aos="fade-up">
                            <h5 class="text-uppercase text-danger font-weight-bold">Ważne</h5>
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#" class="text-white">Regulamin sklepu</a>
                                </li>
                                <li>
                                    <a href="#" class="text-white">Polityka prywatności</a>
                                </li>
                                <li>
                                    <a href="#" class="text-white">Polityka zwrotów</a>
                                </li>
                                <li>
                                    <a href="#" class="text-white">Reklamacje</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" data-aos="fade-up">
                            <h5 class="text-uppercase mb-0 text-danger font-weight-bold">Menu</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#" class="text-white">Home</a>
                                </li>
                                <li>
                                    <a href="#" class="text-white">Survival</a>
                                </li>
                                <li>
                                    <a href="#" class="text-white">Regulamin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="text-center p-3 f2">
                    © 2021 Copyright: <a href="" class="text-danger font-weight-bold">RatShop</a><br>
                    Code and Design by: <a href="https://szczurowsky.pl" class="text-danger font-weight-bold">Szczurowsky</a>
                </div>
            </footer>
            <!--- /Footer --->