            <!-- Navbar -->
            <nav class="navbar navbar-dark bg-transparent navbar-expand-lg">
                <div class="container-fluid">
                    <button
                            class="navbar-toggler"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#navbarNav"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                            data-aos="fade-down"
                    >
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse p-3" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item" data-aos="fade-up">
                                <a class="nav-link active" aria-current="page" href="">Strona główna</a>
                            </li>
                            <li class="nav-item" data-aos="fade-up">
                                <a class="nav-link" href="survival.html">Survival</a>
                            </li>
                            <li class="nav-item" data-aos="fade-up">
                                <a class="nav-link" href="">Regulamin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- /Navbar -->