<!-- Sidebar -->
                <div class="col-md-4">

                    <div class="mb-4 card bg-dark rounded-6 border border-4 border-danger" data-aos="fade-right">
                        <div class="card-body text-white text-center">
                            <h4 class="text-uppercase card-title">Cel miesiąca</h4>
                            <div class="progress m-2" style="height: 20px;">
                                <div
                                        class="progress-bar bg-danger"
                                        role="progressbar"
                                        style="width: {{ sidebarSum }}%;"
                                        aria-valuenow="{{ sidebarSum }}"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                >
                                </div>
                            </div>
                            <small class="text-muted text-uppercase">Utrzymanie serwera</small>
                            <p>{{ sidebarSum }} / 100 PLN </p>
                        </div>
                    </div>

                    <div class="mb-4 card bg-dark rounded-6 border border-4 border-danger" data-aos="fade-right">
                        <div class="card-body text-white">
                            <h4 class="text-uppercase card-title text-center">Ostatnie zakupy</h4>
                            {% for customer in sidebarData %}
                                <div class="row">
                                <div class="col-xl-3">
                                    <img class="img-fluid avatar"
                                         src="https://mc-heads.net/head/{{ customer.nickname }}"
                                         alt="Avatar"
                                    >
                                </div>
                                <div class="col">
                                    <h5 class="text-start">{{ customer.nickname }}</h5>
                                    <small class="text-muted">{{ customer.order_name }}</small>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- /Sidebar -->