{% extends 'Front/templates/root.html' %}
         {% block header %}
            <div class="container mt-5 pb-5">
                <div class="row">
                    <div class="col-4">
                        {% load static %}
                        <img src="{% static 'Front/img/Logo mk2.png' %}" class="img-fluid" alt="Logo" data-aos="fade-right">
                    </div>
                    <div class="col-8 text-center text-white">
                        <h2 class="mainText" data-aos="fade-up">{{ shopName }}</h2>
                        <p class="text-muted subText" data-aos="fade-up">Twój sklep minecraft</p>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block content %}
        <!-- Kategorie -->
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 mb-4">
                    <div class="row p-3">
                        {% for category in categories %}
                            <!-- Kategoria -->
                            <div class="col-lg-4 text-white mb-4" data-aos="fade-right">
                                <div class="card bg-dark rounded-6 border border-4 border-danger">
                                    <img
                                            {% load static %}
                                            src="{{ category.image }}"
                                            class="card-img-top img-fluid"
                                            alt="Survival"
                                    />
                                    <div class="card-body text-center">
                                        <h5 class="card-title">{{ category.name }}</h5>
                                        <small class="text-muted">Kategoria</small>
                                        <p class="card-text">
                                            {{ category.description }}
                                        </p>
                                        <a href="/{{ category.name }}" class="btn btn-danger">Przejdź</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Kategoria -->
                        {% endfor %}
                    </div>
                </div>
                {% include 'Front/templates/sidebar.html' %}
            </div>
        </div>
        <!-- /Kategorie -->
        {% endblock %}