{% extends 'Front/templates/root.html' %}
    {% block header %}
    <div class="container mt-5 pb-5">
        <div class="row">
            <div class="col-4">
                {% load static %}
                <img src="{% static 'Front/img/Logo mk2.png' %}" class="img-fluid" alt="Logo" data-aos="fade-right">
            </div>
            <div class="col-8 text-center text-white">
                <h2 class="mainText" data-aos="fade-up"><span class="text-danger">Ranga</span> VIP</h2>
                <p class="text-muted subText" data-aos="fade-up">Przegląd przedmiotu</p>
            </div>
        </div>
    </div>
</header>
    {% endblock %}
{% block content %}
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="zakup">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title">Zakup przedmiot</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form method="post">
                    <div class="form-group mb-2">
                        <label for="Nick"></label>
                        <input type="text" class="form-control-lg bg-dark text-white border-danger" id="Nick"
                               placeholder="Nick" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email"></label>
                        <input type="email" class="form-control-lg bg-dark text-white border-danger" id="email"
                               placeholder="E-Mail" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="metoda" class="me-2">Metoda płatności</label>
                        <select class="form-select-sm bg-dark text-white border-danger" name="metoda" id="metoda"
                                required>
                            <option value="Przelew">Przelew</option>
                            <option value="PayPal">PayPal</option>
                            <option value="SMS">PayPal</option>
                        </select>
                    </div>
                    <hr>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cofnij</button>
                        <button type="submit" class="btn btn-success">Zakup</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->

<!-- Sklep -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-7 mb-4 bg-dark rounded-6 border border-danger border-3 me-5">
            <h1 class="text-white ps-4 pt-4">Ranga VIP</h1>
            <hr>
            <div class="row">
                <div class="col-md-4 text-white p-3">
                    {% load static %}
                    <img alt="Ikona" src="{% static 'Front/img/Vip.png' %}" class="img-fluid mb-3">
                    <h5>Cena usługi:</h5>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-credit-card"></i> Przelew: <span class="font-weight-bold">20 PLN</span></li>
                        <li><i class="fab fa-paypal"></i> PayPal: <span class="font-weight-bold">20 PLN</span></li>
                        <li><i class="fas fa-sms"></i> SMS: <span class="font-weight-bold">32 PLN</span></li>
                    </ul>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#zakup">Zakup</button>
                </div>
                <div class="col-md-8 text-white">
                    <h2>Opis usługi:</h2>
                    <ul>
                        <li>Kij</li>
                        <li>Wie</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Sidebar -->
        <div class="col-md-4">

            <div class="mb-4 card bg-dark rounded-6 border border-4 border-danger" data-aos="fade-right">
                <div class="card-body text-white text-center">
                    <h4 class="text-uppercase card-title">Cel miesiąca</h4>
                    <div class="progress m-2" style="height: 20px;">
                        <div
                                class="progress-bar bg-danger"
                                role="progressbar"
                                style="width: 25%;"
                                aria-valuenow="25"
                                aria-valuemin="0"
                                aria-valuemax="100"
                        >
                            25%
                        </div>
                    </div>
                    <small class="text-muted text-uppercase">Utrzymanie serwera</small>
                    <p>25 / 100 PLN </p>
                </div>
            </div>

            <div class="mb-4 card bg-dark rounded-6 border border-4 border-danger" data-aos="fade-right">
                <div class="card-body text-white">
                    <h4 class="text-uppercase card-title text-center">Ostatnie zakupy</h4>
                    <div class="row">
                        <div class="col-xl-3">
                            {% load static %}
                            <img class="img-fluid avatar" src="{% static 'Front/img/Logo mk2.png' %}" alt="Avatar">
                        </div>
                        <div class="col">
                            <h5 class="text-start">Szczurowsky</h5>
                            <small class="text-muted">Ranga VIP</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->
    </div>
</div>
<!-- /Sklep -->

{% endblock %}