{% extends 'Front/templates/root.html' %}
    {% block header %}
    <div class="container mt-5 pb-5">
        <div class="row">
            <div class="col-4">
                {% load static %}
                <img src="{% static 'Front/img/Logo mk2.png' %}" class="img-fluid" alt="Logo" data-aos="fade-right">
            </div>
            <div class="col-8 text-center text-white">
                <h2 class="mainText" data-aos="fade-up">{{ category.name }}</h2>
                <p class="text-muted subText" data-aos="fade-up">Sklep trybu</p>
            </div>
        </div>
    </div>
    {% endblock %}

{% block content %}
<!-- Sklep -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mb-4">
            <p class="text-white" data-aos="fade-down">Filtry</p>
            <form method="get" data-aos="fade-down">
                <label>
                    <select class="form-select-sm bg-dark text-white border-danger rounded-6" name="kategoria">
                        <option selected disabled>Kategoria</option>
                        <option value="1">Rangi</option>
                        <option value="2">Przedmioty</option>
                    </select>
                </label>
                <label>
                    <select class="form-select-sm bg-dark text-white border-danger rounded-6 ms-2" name="cena">
                        <option selected disabled>Cena od:</option>
                        <option value="1">Najniższej</option>
                        <option value="2">Najwyższej</option>
                    </select>
                </label>
                <button type="submit" class="btn btn-danger btn-sm rounded-6 ms-3">Filtruj</button>
            </form>
            <hr>
            <div class="row p-3">
                <!-- Przedmiot -->
                <div class="col-lg-4 text-white mb-4" data-aos="fade-right">
                    <div class="card bg-dark rounded-6 border border-4 border-danger item">
                        <span class="sale-badge badge bg-success">Przecena</span>
                        <img
                                {% load static %}
                                src="{% static 'Front/img/Vip.png' %}"
                                class="card-img-top img-fluid"
                                alt="Survival"
                        />
                        <div class="card-body text-center">
                            <h5 class="card-title">Ranga VIP</h5>
                            <small class="text-muted">Rangi</small>
                            <hr>
                            <p><span class="text-muted pe-2"><s>13.99</s></span><span class="text-danger font-weight-bold">12.99 PLN</span></p>
                            <p class="card-text">
                                Jakiś krótki opis rangi w sumie czy coś
                            </p>
                            <a href="produkt.html" class="btn btn-danger">Zakup</a>
                        </div>
                    </div>
                </div>
                <!-- /Przedmiot-->
                <!-- Przedmiot -->
                <div class="col-lg-4 text-white mb-4" data-aos="fade-right">
                    <div class="card bg-dark rounded-6 border border-4 border-danger item">
                        <img
                                {% load static %}
                                src="{% static 'Front/img/Vip.png' %}"
                                class="card-img-top img-fluid"
                                alt="Survival"
                        />
                        <div class="card-body text-center">
                            <h5 class="card-title">Ranga SVIP</h5>
                            <small class="text-muted">Rangi</small>
                            <hr>
                            <p><span class="text-white font-weight-bold">13.99 PLN</span></p>
                            <p class="card-text">
                                Jakiś krótki opis rangi w sumie czy coś
                            </p>
                            <a href="produkt.html" class="btn btn-danger">Zakup</a>
                        </div>
                    </div>
                </div>
                <!-- /Przedmiot-->
            </div>
        </div>
        {% include 'Front/templates/sidebar.html' %}
    </div>
</div>
<!-- /Sklep -->
{% endblock %}